/*Universal selector*/

*{

  margin: 0;
  padding: 0;

}

body{

    background: linear-gradient( to bottom, black, grey);
    background-repeat: no-repeat;
    background-position: center;
    /* padding: 40px; */

}

.page{

  display: flex;
  margin: 50px;

}


/*login section css styles*/

.login-page{

  box-shadow: 3px 3px 9px black;
  background-color: rgb(253, 250, 250);
  padding: 20px;
  height: 200px;
  width: 60%;
  border-radius: 25px ;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;

}

/*signup section css styles*/
.signup-page{

  box-shadow: 3px 3px 9px black;
  background-color: rgb(10, 25, 236);
  padding: 20px;
  height: 200px;
  border-radius: 25px ;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  width: 100%;

}


/*Media queries for screens less than 950px*/

@media screen and (max-width:950px){

  /*signup section css styles*/

  .signup-page{

    display: none;

  }


  /*login section css styles*/

  .login-page{

    width: 100%;
    height: max-content;
    border-radius: 25px;
    flex-wrap: wrap;
    
    /* padding: 0%; */

  }

  /*Login logo */

  .login-image{

    padding: 10px;
    background-color: lightcoral;
    text-align: center;
    height: 50px;
    width: 70px;
    margin:  0  auto;
    border: 4px rgb(187, 181, 181) solid;
    border-radius: 50%;
  }

  .login-image h2{

    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin: 10px 0 10px 0;
    font-size: 20px;

  }

  /* log form css styles*/

  .log-form{

    padding: 20px 10px;
    margin: 0 13%;

  }

  .login-form{

    margin: 10px;

  }

  .page{

    margin: 25px;

  }

  body{

    /* padding: 20px; */

  }

  /*For form input css styles*/

  .log-username{

    width: 60vw;
    height: 7vh;
    border: unset;
    border-radius: 25px;
    padding: 1px;
    text-align: center;

  }

  .log-password{

    width: 60vw;
    height: 7vh;
    border: unset;
    border-radius: 25px;
    padding: 1px;
    text-align: center;

  }

  .log-btn{

    color: rgb(255, 255, 255);
    width: 60vw;
    height: 7vh;
    background-color: rgb(5, 5, 189);
    font-size: 17px;
    border-radius: 25px;
    border: unset;

  }

}

/*Media queries for screens less than 450px*/

@media screen and (max-width: 450px){  

  body{

    /* padding: 5px; */

  }

  .log-form{

    margin: 0;

  }

}